DATABASE_URL=postgresql+psycopg://postgres:xxxx@localhost:xxxx/xxxxxxxxx_xx

DUMMY_PASSWORD=xxxxxxxxx

SECRET_KEY=xxxxxxxxxxxxXXXxXXxxXxXXXXxxxxxxxxxxxxxxxxxxxx
ALGORITHM=xxxx
ACCESS_TOKEN_EXPIRE_MINUTES= 15
REFRESH_TOKEN_EXPIRE_DAYS= 7
REFRESH_TOKEN_EXPIRE_DAY= 1
ENV=development || production
